@model IEnumerable<ngo_webapp.Models.Entities.Appeal>

@{
	ViewData["Title"] = "Donate";
	Layout = "_LayoutDonation";
}


@foreach (var appeal in Model)
{
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-7 col-md-10 col-sm-10" style="margin-top:90px;margin-bottom:36px">
				<div class="section-tittle text-center mb-80" style="height:13vw">
					<h2 style="font-size:40px">Donate</h2>

					@{
						decimal totalDonations = appeal.Donations.Sum(d => d.Amount);
					}

					@if (totalDonations < appeal.Amount)
					{
						<form asp-action="Donate" method="post">
							<input type="hidden" name="appealId" value="@appeal.AppealsId" />
							<input type="number" name="amount" min="1" step="any" placeholder="Enter amount" required style="border: 3px solid #ccc; background-color: #f9f9f9; font-size: 20px; border-radius:2px;text-align:center" />
							<br />
							<button type="submit" class="genric-btn info-border circle" style="font-size:16px; margin:20px">Donate</button>
						</form>
					}
					else
					{
						<p>This appeal has reached its funding goal and is no longer accepting donations.</p>
					}
				</div>
			</div>
		</div>
	</div>
}